---
import { navItems, siteName } from '@/data/nav';

interface Props {
  brandHref?: string;
}

const { brandHref = '/#hero' } = Astro.props;
---

<div class='site-header__bar'>
  <div class='site-header__inner mx-auto flex max-w-full min-h-(--header-inner-min-h) items-center'>
    <a
      href={brandHref}
      class='site-header__brand type-nav shrink-0 py-2 -mx-1 font-semibold tracking-(--tracking-snug) transition-opacity duration-300 ease-out hover:opacity-80'
      translate='no'>
      {siteName}
    </a>

    <nav aria-label='Primary' class='site-header__nav shrink-0'>
      <ul class='m-0 flex shrink-0 list-none items-center gap-0.5 p-0'>
        {
          navItems.map(item => (
            <li class='shrink-0'>
              <a
                href={item.href}
                class='site-header__link type-nav select-none py-2 font-medium transition-[opacity,transform,background-color] duration-300 ease-out active:scale-[0.96]'>
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</div>
