---
import { MotionApproachBridge } from '@/components/widgets/MotionApproachBridge';
import { approach } from '@/data/approach';
---

<section
  id='approach'
  class='px-(--section-padding-x) pb-(--space-section-header) pt-(--space-section-header)'
  aria-labelledby='approach-heading'>
  <div class='mx-auto w-full max-w-(--section-max)'>
    <h2 id='approach-heading' class='sr-only'>Approach</h2>
    <MotionApproachBridge client:visible items={approach} />
  </div>
</section>
