---
import { MotionExperienceSection } from '@/components/widgets/MotionExperienceSection';
import { education } from '@/data/education';
import { experience } from '@/data/experience';
---

<section id='experience' class='py-(--space-section-y) px-(--section-padding-x)' aria-labelledby='experience-heading'>
  <div class='mx-auto w-full max-w-(--section-max)'>
    <MotionExperienceSection client:visible title='Experience' experience={experience} education={education} />
  </div>
</section>
