---
import { MotionSelectedWorkSection } from '@/components/widgets/MotionSelectedWorkSection';
import { selectedWork, selectedWorkIntro } from '@/data/selected-work';
---

<section
  id='selected-work'
  class='py-(--space-section-y) px-(--section-padding-x)'
  aria-labelledby='selected-work-heading'>
  <div class='section-inner'>
    <MotionSelectedWorkSection client:visible title='Recent Work' intro={selectedWorkIntro} items={selectedWork} />
  </div>
</section>
