---
import Header from '@/components/common/header/Header.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/hero/Hero.astro';
import SelectedWork from '@/components/sections/SelectedWork.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title='Lucas Winkler — Design Engineer'>
  <Header />
  <main>
    <Hero />
    <SelectedWork />
    <Experience />
  </main>
</BaseLayout>
