@import 'tailwindcss';

@theme {
  /* Colours for the dark sections */
  --color-background-dark: var(--background-dark);
  --color-foreground-dark: var(--foreground-dark);
  --color-foreground-dark-secondary: var(--foreground-dark-secondary);
  --color-foreground-dark-tertiary: var(--foreground-dark-tertiary);
  --color-foreground-dark-socials: var(--foreground-dark-socials);
  --color-heading-dark: var(--heading-dark);
  --color-subheading-dark: var(--subheading-dark);

  /* Colours for the light sections */
  --color-background-light: var(--background-light);
  --color-foreground-light: var(--foreground-light);
  --color-heading-light: var(--heading-light);
  --color-subheading-light: var(--subheading-light);

  /* Fonts */
  --font-inter-fallback: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-inter-variable: InterVariable, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --font-inter-display: InterDisplay, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

:root {
  /* Colours for the dark sections */
  --background-dark: #090a0c;
  --foreground-dark: #e5e5e7;
  --foreground-dark-secondary: #95979e;
  --foreground-dark-tertiary: #c9cbcf;
  --foreground-dark-socials: #303236;
  --heading-dark: #ffffff;
  --subheading-dark: #ffffff;

  /* Colours for the light sections */
  --background-light: #f9fafa;
  --foreground-light: #4a4b50;
  --heading-light: #0b0d10;
  --subheading-light: #303236;
}

body {
  color: var(--foreground-dark);
  background: var(--background-dark);

  font-family: var(--font-inter-fallback);
  font-variation-settings: 'opsz' 16;
  font-feature-settings:
    'liga' 1,
    'calt' 1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: var(--font-inter-variable);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.font-heading {
  font-family: var(--font-inter-display);
  font-variation-settings: 'opsz' 48;
  font-feature-settings:
    'liga' 1,
    'calt' 1,
    'ss01' 1,
    'cv01' 1;
}

@supports (font-variation-settings: normal) {
  .font-heading {
    font-family: var(--font-inter-variable);
  }
}
