---
import '@/styles/global.css';

import { Font } from 'astro:assets';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'Lucas Winkler', description } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='icon' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='generator' content={Astro.generator} />
    {description ? <meta name='description' content={description} /> : null}
    <Font cssVariable='--font-inter' preload={[{ style: 'normal' }]} />
    <title>{title}</title>
  </head>
  <body>
    <a href='#content' class='skip-link'>Skip to content</a>
    <slot />
  </body>
</html>
