---
import { Font } from 'astro:assets';
import { DevInterfaceKit } from '@/components/common/DevInterfaceKit';
import { isInterfaceKitEnabled } from '@/lib/interface-kit';
import '@/styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Lucas Winkler',
  // description = 'TODO: add description'
} = Astro.props;

const showInterfaceKit = isInterfaceKitEnabled();
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='icon' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='generator' content={Astro.generator} />
    <!-- <meta name='description' content={description} /> -->
    <Font cssVariable='--font-inter' preload={[{ style: 'normal' }]} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    {showInterfaceKit && <DevInterfaceKit client:load />}
  </body>
</html>
